<%# Below we call the boilerplate layout and ejs is able to pass in an object which we call title %>
<%- include('../partials/boilerplate', {title: "Edit Post"}); %> 
<%- include('../partials/navbar'); %>

<div class="card col-8 offset-2 p-3">
    <h1 class="text-center">Edit Post</h1>
    <form action="/bulletins/<%- bulletinId %>/posts/<%= post._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
        <div>
            <label for="title" class="form-label pt-2">Title</label>
            <input type="text" class="form-control" name="post[title]" id="title" value="<%= post.title %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose a title.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label pt-2" for="description">Description</label>
            <textarea class="form-control" id="description" name="post[description]" rows="3" required><%= post.description %></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose a description.
            </div>
        </div>
        <button class="submitButton">Update Post</button>
        <button class="cancelButton">
            <a href="/bulletins/<%- bulletinId %>/posts/<%= post._id %>" class="buttonAnchor">Cancel Edit</a>
        </button>
    </form>
    
    <br>
    <a href="bulletins/allposts">All Posts</a>
</div>
    
<%- include('../partials/footer'); %>