<%# Below we call the boilerplate layout and ejs is able to pass in an object which we call title %>
<%- include('../partials/boilerplate', {title: "Edit Post"}); %> 
<%- include('../partials/navbar'); %>

<main class="container-lg mt-5">
    <div class="card col-8 offset-2 p-2">
        <form action="/posts/<%= post._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Author</label>
                <input type="text" class="form-control" name="post[author]" id="author" value="<%= post.author %>">
                <label for="title" class="form-label pt-2">Title</label>
                <input type="text" class="form-control" name="post[title]" id="title" value="<%= post.title %>">
                <label class="form-label pt-2" for="description">Description</label>
                <textarea class="form-control" id="description" name="post[description]" rows="3" class="form-control" required><%= post.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a description.
                </div>
            </div>
            <button id="updateButton">Update Post</button>
        </form>
        <a href="/posts/<%= post._id %>">Cancel Edit</a>
        <br>
        <a href="/posts">All Posts</a>
    </div>
</main>
    
<%- include('../partials/footer'); %>