<%# Below we call the boilerplate layout and ejs is able to pass in an object which we call title %>
<%- include('../partials/boilerplate', {title: "All Posts"}); %>
<%- include('../partials/navbar'); %>

<div class="row">
    <div class="col-6 offset-1">
        <h1>All Posts</h1>
        <div class="mt-2">
            <% for (let post of posts) { %>
                <div class="card p-2 mt-2">
                    <a href="/posts/<%= post._id %>"><%= post.author.username %> wrote: <%= post.title %></a>
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>