<%# Below we call the boilerplate layout and ejs is able to pass in an object which we call title %>
<%- include('../partials/boilerplate', {title: "Show Post"}); %>
<%- include('../partials/navbar'); %>

<main class="container-lg mt-5">
    <div class="row">
        <div class="col-6">
            <div class="card p-3">
                <h1><%= post.title %></h1>
                <h4><%= post.author %></h4>
                <p class="mt-3"><%= post.description %></p>
                <div class="row gx-5">
                    <div class="col-1">
                        <button id="editButton">
                            <a href="/posts/<%= post._id %>/edit" id="editAnchor">Edit</a>
                        </button>
                    </div>
                    <div class="col-1">
                        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                            <button id="editButton">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h2>Submit a new comment</h2>
            <form action="/posts/<%= post._id %>/comments" method="POST">
                <label for="comment" class="form-label">Author</label>
                <input type="text" id="comment" name="comment[author]" class="form-control">
                <label for="comment" class="form-label">Description</label>
                <input type="text" id="comment" name="comment[description]" class="form-control">
                <button id="submitButton" class="my-3">Submit</button>
            </form>
            <% for (let comment of post.comments) { %>
                <div class="card p-3 mb-3">
                    <h5><%= comment.author %></h5>
                    <p><%= comment.description %></p>
                    <div class="row gx-5">
                        <div class="col-1">
                            <button type="button" id="editButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Edit
                            </button>
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                  <div class="modal-content">
                                    <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Comment</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="author" class="form-label">Author</label>
                                            <input type="text" name="comment[author]" class="form-control" value="<%= comment.author %>" required>
                                            <label for="description" class="form-label">Comment</label>
                                            <textarea class="form-control" id="description" name="comment[description]" rows="3" class="form-control" required><%= comment.description %></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn" id="submitButton">Save Changes</button>
                                        </div>
                                    </form>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button id="editButton">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</main>

<%- include('../partials/footer'); %>