<%# Below we call the boilerplate layout and ejs is able to pass in an object which we call title %>
<%- include('../partials/boilerplate', {title: "Show Post"}); %>
<%- include('../partials/navbar'); %>

<main class="container-lg mt-5">
    <h1 class="text-center"><%= post.author %></h1>
    <div class="col-8 offset-2">
        <p class="mt-4"><%= post.description %></p>
        <div class="row">
            <div class="col-1">
                <a href="/posts/<%= post._id %>/edit">Edit</a>
            </div>
            <div class="col-1">
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button id="editButton">Delete</button>
                </form>
            </div>
        </div>
        <a href="/posts">All Posts</a>
    </div>

    
</main>

<%- include('../partials/footer'); %>